{% extends "project/base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>Bitte geben sie ihr neues Passwort zur Bestätigung ein.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Neues Passwort:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Password
                            wiederholen:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Passwort ändern"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Das Rücksetzen des Passworts ist gescheitert.</h1>
        <p>Der Link zum Rücksetzen des Passworts war ungültig,
            wahrscheinlich wurde er schon genutzt. Bitte fordern sie
            erneut das Rücksetzen des Passworts an.</p>
    {% endif %}
{% endblock %}
