.idea
db.sqlite3
poetry.lock
**/__pychache__/*
output
/myapp_models.png
/.tox/
/.mypy_cache/
/.pytest_cache/
/upload/
/project/tests/sample_files/Testtabelle2.numbers
/django_lowcoder.log
/staticfiles/
