<!DOCTYPE html>
{% load static %}
{% load django_htmx %}
<html lang="de">
<head>
    {% block title %}<title>Django-LowCoder</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Projektseite">

     <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
    <!-- Add additional CSS in static file -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    {% django_htmx_script %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Django
        - LowCoder</a>
    <div class="d-flex flex-wrap">
    {% if user.is_authenticated %}
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="#">
                <span data-feather="user" class="align-text-bottom"></span>
                {{ user.username }}
            </a>
        </div>
    </div>
    {% endif %}
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            {% if user.is_authenticated %}
            <a class="nav-link px-3" href="{% url 'logout' %}">
                 <span data-feather="log-out"
                                  class="align-text-bottom">
                 </span>
                Abmelden
            </a>
            {% else %}
            {% if request.path != '/accounts/login/' %}
            <a class="nav-link px-3" href="{% url 'login' %}">
                 <span data-feather="log-in"
                                  class="align-text-bottom"></span>
                Anmelden</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        {% if user.is_authenticated %}
        <nav id="sidebarMenu"
             class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                {% block sidebar %}
                {% url 'index' as url_index %}
                {% url 'project_detail' request.session.selected as url_project_detail %}
                {% url 'project_update' request.session.selected as url_project_update %}
                {% url 'project_delete' request.session.selected as url_project_delete %}
                {% url 'project_update_settings' request.session.selected as url_project_settings %}
                {% url 'project_deploy' request.session.selected as url_project_deploy %}
                {% url 'project_import' request.session.selected as url_project_import %}
                {% url 'project_list_models' request.session.selected as url_project_list_models %}
                {% url 'project_list_fields' request.session.selected_model as url_project_list_fields %}
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == url_index %}active{% endif %}"
                           aria-current="page"
                           href="{% url 'index' %}">
                            <span data-feather="home"
                                  class="align-text-bottom"></span>
                            Projekte
                        </a>
                    </li>
                    {% if 'selected' in request.session and request.session.selected != 0 %}
                    <ul class="nav nav-item flex-column ps-2">
                    <li><a
                      class="nav-link {% if request.path == url_project_detail or request.path == url_project_update or request.path == url_project_delete or request.path == url_project_deploy or request.path == url_project_import %}active{% endif %}"
                           aria-current="page"
                           href="{% url 'project_detail' request.session.selected %}">
                            <span data-feather="book-open"
                                  class="align-text-bottom"></span>
                            {{ request.session.selected_name }}
                        </a>
                    </li>
                    <ul class="nav nav-item flex-column ps-2">
                    <li><a class="nav-link {% if request.path == url_project_settings %}active{% endif %}"
                           aria-current="page"
                           href="{% url 'project_update_settings' request.session.selected %}">
                            <span data-feather="more-horizontal"
                                  class="align-text-bottom"></span>
                        Einstellungen
                    </a>
                    </li>
                    <li><a class="nav-link {%if request.path == url_project_list_models%}active{%endif%}"
                           aria-current="page"
                           href="{% url 'project_list_models' request.session.selected %}">
                            <span data-feather="list"
                                  class="align-text-bottom"></span>
                        Tabellen
                    </a>
                    </li>
                      {% if 'selected_model' in request.session and request.session.selected_model != 0 %}
                      <ul class="nav nav-item flex-column ps-2">
                        <li><a
                          class="nav-link {%if request.path == url_project_list_fields %}active{% endif %}"
                          aria-current="page"
                               href="{% url 'project_list_fields' request.session.selected_model %}">
                            <span data-feather="book-open"
                                  class="align-text-bottom"></span>
                          {{ request.session.selected_model_name }}
                        </a>
                        </li>
                      </ul>
                      {% endif %}
                    </ul>
                    </ul>
                    {% endif %}
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">
                            <span data-feather="tool"
                                  class="align-text-bottom"></span>
                            Admin-Bereich
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endblock %}
            </div>
        </nav>
        {% endif %}
        <main id="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
            </div>
        </main>
    </div>
</div>
 <script src="{% static 'js/bootstrap.min.js' %}"></script>
 <script src="{% static 'js/feather.min.js' %}"></script>
 <script src="{% static 'js/htmx.min.js' %}" defer></script>
 <script src="{% static 'js/htmx/debug.js' %}" defer></script>
<script>
    feather.replace();
</script>
</body>
</html>
