{% extends "project/base_generic.html" %}
{% load i18n %}

{% block content %}
{% load project_filters %}
<!--suppress HtmlUnknownAttribute -->
<h1 class="h2">
  {% blocktranslate with length=field_list|length %}Columns ({{ length }})
  {% endblocktranslate %}</h1>
<div>
  <a role="button"
     title="{% translate 'Create new field' %}"
     href="{% url 'project_create_field' request.session.selected_model %}"><i
    class="feather-48" data-feather="folder-plus"></i>
  </a>
</div>
{% if field_list %}
<div class="table-responsive">
  <table id="field-table" class="table table-striped table-sm">
    <thead>
    <tr>
      <th scope="col">{% translate 'Name' %}</th>
      <th scope="col">{% translate 'Index' %}</th>
      <th scope="col">{% translate 'Unique' %}</th>
      <th scope="col">{% translate 'Indexed' %}</th>
      <th scope="col">{% translate 'Data Type' %}</th>
      <th scope="col">{% translate 'Field Length' %}</th>
      <th scope="col">{% translate 'Default Value' %}</th>
      <th scope="col">{% translate 'Actions' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for field in field_list %}
    <tr>
      <td {% if field.exclude %} class="text-decoration-line-through" {% endif %}>
        <a href="{% url 'project_update_field' field.id %}?next={{request.path}}">
          {{ field.name }} </a>
      </td>
      <td {% if field.exclude %} class="text-decoration-line-through" {% endif %}>
        {{ field.index }}
      </td>
      <td {% if field.exclude %} class="text-decoration-line-through" {% endif %}>
        {{ field.is_unique|iconbool }}
      </td>
      <td {% if field.exclude %} class="text-decoration-line-through" {% endif %}>
        {{ field.use_index|iconbool }}
      </td>
      <td {% if field.exclude %} class="text-decoration-line-through" {% endif %}>
        {{ field|datatype_as_str }}
      </td>
      <td {% if field.exclude %} class="text-decoration-line-through" {% endif %}>
        {{ field.max_length|default_if_none:'' }}
        {{ field.max_digits|default_if_none:'' }}
      </td>
      <td {% if field.exclude %} class="text-decoration-line-through" {% endif %}>
        {{ field.default_value|default_if_none:'' }}
      </td>
      <td>
        <a title="{% translate 'Edit' %}" role="button"
           href="{% url 'project_update_field' field.id %}?next={{request.path}}"><i
          class="feather-24 align-top me-1"
          data-feather="edit"></i></a>
        <a title="{% translate 'Delete' %}" role="button"
           href="{% url 'project_delete_field' field.id %}?next={{request.path}}"><i
          class="feather-24 align-top me-1"
          data-feather="trash-2"></i></a>

        {% if field.index > 1 %}

        <a hx-ext="debug" hx-post="{% url 'project_field_up' field.id %}"
           hx-trigger="click" hx-target="#field-table" hx-select="#field-table" hx-swap="innerHTML"
           title="{% translate 'Up' %}"
           role="button"
           href="#"><i
          class="feather-24 align-top me-1"
          data-feather="arrow-up"></i></a>

        {% else %}

        <span class="me-1" style="display: inline-block; width: 24px !important"></span>

        {% endif %}

        {% if field.index < field_list|length %}

        <a hx-ext="debug" hx-post="{% url 'project_field_down' field.id %}"
           hx-trigger="click" hx-target="#field-table" hx-select="#field-table" hx-swap="innerHTML"
           title="{% translate 'Down'%}"
           role="button"
           href="#"><i class="feather-24 align-top me-1" data-feather="arrow-down"></i></a>

        {% else %}

        <span class="me-1" style="display: inline-block; width: 24px !important"></span>

        {% endif %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <script>
    document.body.addEventListener('htmx:afterSwap', function(evt) {
      feather.replace();
    });
  </script>
</div>
{% else %}
<p>{% translate 'No columns present yet.' %}</p>
{% endif %}
{% endblock %}
