{% extends "project/base_generic.html" %}

{% block content %}
{% load project_filters %}
<h1>{{ object.name }}</h1>
<p>Spalten: {{ object.fields.all|length }}</p>
<p>Haupt-Tabelle: {{ object.is_main_entity|iconbool }}</p>
<p>Reihenfolge: {{ object.index }}</p>
<p>Erzeugt: {{ object.created_at|date:'SHORT_DATETIME_FORMAT' }}</p>
<p>Modifiziert: {{ object.updated_at|date:'SHORT_DATETIME_FORMAT' }}</p>
<a class="btn btn-primary"
   href="{% url 'project_update_model' object.id %}?next={{request.path}}">Bearbeiten</a>
<a class="btn btn-secondary"
   href="{% url 'project_list_models' object.transformation_mapping.project.id %}">Liste</a>
{% endblock %}
