{% extends "project/base_generic.html" %}
{% load i18n %}

{% block content %}
<h1>{{ object.name }}</h1>
<p>{% blocktranslate with desc=object.description %}Description: {{ desc }}{% endblocktranslate %}</p>
<p>{% blocktranslate with length=object.transformationmapping.models.all|length %}
  Tables: {{ length }}{% endblocktranslate %}</p>
<p>{% blocktranslate with created=object.created_at|date:'SHORT_DATETIME_FORMAT' %}
  Created at: {{ created }}{% endblocktranslate %}</p>
<p>{% blocktranslate with updated=object.updated_at|date:'SHORT_DATETIME_FORMAT' %}
  Last modified at: {{ updated }}{% endblocktranslate %}</p>
<hr>
<p>{% blocktranslate with adminname=object.projectsettings.admin_name %}Administrator User Name: {{ adminname }}{% endblocktranslate %}</p>
<p>{% blocktranslate with adminpw=object.projectsettings.admin_password %}Administrator Password: {{ adminpw }}{% endblocktranslate %}</p>
<p>{% blocktranslate with demoname=object.projectsettings.demo_user_name %}Demo User Name: {{ demoname }}{% endblocktranslate %}</p>
<p>{% blocktranslate with pw=object.projectsettings.demo_user_password|default_if_none:"-" %}
  Demo User Password: {{ pw }}{% endblocktranslate %}</p>
<p>{% blocktranslate with domain=object.projectsettings.domain_name|default_if_none:"-" %}
  Domain: {{ domain }}{% endblocktranslate %}</p>
<p>{% blocktranslate with ct=object.projectsettings.code_template.name|default_if_none:"-" %}
  Code Template: {{ ct }}{% endblocktranslate %}</p>
<a class="btn btn-primary"
   href="{% url 'project_update' object.id %}?next={{request.path}}">{% translate 'Edit' %}</a>
<a class="btn btn-secondary"
   href="{% url 'index' %}">Liste</a>
{% endblock %}
