.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-register {
  max-width: 583px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-register .form-floating:focus-within {
  z-index: 2;
}

.form-signin fieldset div input[type="text"]
{
  margin-bottom: -1rem;
}
